header a {
  color: var(--light);
  padding: 1rem;
}

header .logo h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  line-height: 1rem;
  font-weight: 700;
  color: var(--light);
  margin: 0;
  padding: 0;
}

.badge {
  background-color: var(--danger);
  color: var(--light);
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1.4rem;
  position: relative;
  top: -1rem;
}