@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Dancing+Script:wght@700&display=swap');
* {
    box-sizing: border-box;
}
:root {
    --primary: #0d6efd;
    --secondary: #666666;
    --success: #198754;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #0dcaf0;
    --light: whitesmoke;
    --dark: #212529;
    --golden: #f0c040;
    --grey: #e1e1e1;
    --dark-teal: #13795b;
    --light-teal: #1aa179;
    --light-purple: #97ce;
    --dark-purple: #97ae;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--grey);
}
#root {
  height: 100%;
}
.grid-container {
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header {
    grid-area: header;
    background-color: var(--dark-teal);
}
main {
    grid-area: main;
    padding: 1rem;
}
footer {
    grid-area: footer;
    background-color: var(--dark-teal);
    color: #fff;
}

/* Common Classes */
h1 {
    font-size: 2.5rem;
    color: var(--dark);
}
h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--golden);
}
input,
select,
textarea,
button {
    padding: 1rem;
    outline: none;
    border-radius: 0.6rem;
    border: 0.1rem solid #a4a4a4;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease;
}
button {
    background-color: #f8f8f8;
    cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus {
    border: 0.1rem solid var(--secondary);
}

button.primary {
    background-color: var(--light-purple);
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}
button.block {
    width: 100%;
}
button.small {
    font-size: 1.2rem;
}
