@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #203040;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #203040;
    color: #fff;
}

/* Common Classes */
h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h1 {
    font-size: 1.6rem;
    padding: 1rem 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff8000;
}

/* Header */
header a{
    color: #fff;
    padding: 1rem;
}

a.logo {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}

/* Image */
img {
    border-radius: 0.6rem;
}

img.medium {
    max-width: 29rem;
    width: 100%;
}

/* Card */
.card {
    border: 0.1rem solid #c0c0c0;
    background-color: #f6f6f6;
    border-radius: 0.6rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > * {
    margin-bottom: 0.5rem;
}

.rating span{
    color: #f0c040;
    margin: 0.1rem;
}

.price {
    font-size: 2rem;
}
